@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');

body {
  font-family: 'Fira Sans', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 20rem auto 80rem;
  max-width: 992rem;
  padding: 8rem;
  overflow-x: hidden;
  min-height: 100vh;
  box-sizing: border-box;
}

h1, h6 {
  font-family: 'Playfair Display SC', serif;
}

h1 {
  justify-content: center;
  font-size: 50rem;
}

h6 {
  justify-content: start;
}